

/* Importando Tailwind */
@import "tailwindcss";

/* Definindo o tema diretamente no CSS */
@theme {
  --color-primary: #EE6C4D;
  --color-primary-light: #FECFC2;
  --color-primary-dark: #B74A2D;

  --color-background: #F6CED8;
  --color-surface: #FDF3F4;

  --color-accent: #3D5A80;
  --color-dark: #293241;
  --color-light: #FAFAFA;
  --color-white: #ffffff;

  --color-gray: #7B7B7B;
  --color-gray-light: #D9D9D9;
  --color-gray-dark: #3A3A3A;

  --color-text-dark: #293241;      /* Título, texto escuro */
  --color-text-light: #3A3A3A;     /* Texto secundário */
  --color-text-muted: #7B7B7B;     /* Texto desabilitado ou legenda */

  --font-sans: "Inter", sans-serif;
  --font-title: "Horizon", sans-serif;
  --font-code: "Consolas", monospace;

  --radius-xl: 1.25rem;
  --radius-2xl: 1.5rem;

  --shadow-card: 0 4px 24px rgba(0, 0, 0, 0.06);
  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.04);
}

/* Fonte personalizada Horizon */
@font-face {
  font-family: 'Horizon';
  src: url('/fonts/Horizon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Aplicando estilo global */
body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--font-title);
}

a {
  color: var(--color-primary);
}
